@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: #e9ebee;}

.toast-success {
    background: green;
    justify-content: center;
}

.toast-error {
    background: red;
    justify-content: center
}
